<!DOCTYPE html>
<html>
    <head>
        <title>register</title>

        <style>
                #sticky{
                background-color: black;
                padding: 5px;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-bottom: 30px;
            }
            #login,#register{
                background-color: black;
                font-size: medium;
                border: 1px solid black;
                color: white;
                cursor: pointer;
                padding: 5px;
                margin-left: 15px;
            }
            #login{
                margin-left: 800px;

            }
            #regform{
                margin: 50px;
                margin-left: 100px;
                margin-right: 100px;
            }
            label{
                font-size: 25px;
                color: rgb(31, 30, 30);
            }
            input{
                padding:10px;
                width: 1000px;
                height: 35px;
                background-color: rgb(236, 232, 232);
                border: 2px solid rgb(236, 232, 232);
                border-radius: 4px;
                margin: 10px;
                font-size: large;
            }
            .register{
                background-color: black;
                font-size: large;
                border: 1px solid black;
                color: white;
                cursor: pointer;
                padding: 5px;
                margin-left: 10px;
                border-radius: 3px;
                padding: 10px;
                padding-left: 10px;
                padding-right: 10px;
            }
            .register-login{
                background-color: white;
                border: 1px solid white;
                margin: 0%;
                padding: 0%;
                text-decoration: underline;
                font-size: 18px;
            }
            #logout{
                color: white;
                background-color: red;
                border: 1px solid red;
                border-radius: 3px;
                padding: 10px;
                font-size: medium;
                margin-left: 15px;
                cursor: pointer;

            }
            #add{
                background-color: rgb(8, 185, 209);
                border: 2px solid rgb(8, 185, 209);
                font-size: large;
                margin-left: 10px;
                padding: 10px;
                border-radius: 3px;
                cursor: pointer;
            }
        </style>
    </head>
    <body style="margin: 0%;">
        <diV id="sticky">
            <form action="/form2" method="post">
                <span style="color: white; font-size: 20px ; font-weight: 700;">CMS</span>
                <button id="login" name="contact" value="showallcontact" >ALL CONTACTS</button>
                <button id="register" name="create" value="createcontact">CREATE</button>
                <button id="logout" name="logout" value="logout" >LOGOUT</button>
            </form>
        </diV>
        <span style="margin-left: 100px; font-size: 30px; font-weight: bold;">CREATE YOUR CONTACT</span>
        <form action="/addcontact" method="post" id="regform">
           
            <label for="register-name">Name of Person: </label><br>
            <input type="text" name="name" class="register-name" placeholder="SANTHOSH"><br>
            <label for="ADDRESS">Address Of Person:</label><br>
            <input type="text" class="email" name="Address" placeholder="MYDUKUR"><br>
            <label for="email">Email Of Person:</label><br>
            <input type="email" class="email" name="email" placeholder="example@gmail.com"><br>
            <label for="confirm-password">Phone Number Of Person:</label><br>
            <input type="number" class="c-password" name="number" placeholder="+919786588757"><br>
            <button id="add" name="register">ADD CONTACT</button>
        </form>
    </body>
</html>